# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf


Debug/Obj/main.pbi
Debug/Obj/main.pbi.xcl
Debug/Obj/misc.pbi
Debug/Obj/misc.pbi.xcl
Debug/Obj/Nixie.pbd
Debug/Obj/Nixie.pbd.browse
Debug/Obj/Nixie.pbd.linf
Debug/Obj/Nixie.pbw
Debug/Obj/Sth30.pbi
Debug/Obj/stm32f10x_adc.pbi
Debug/Obj/stm32f10x_adc.pbi.xcl
Debug/Obj/stm32f10x_bkp.pbi
Debug/Obj/stm32f10x_bkp.pbi.xcl
Debug/Obj/stm32f10x_can.pbi
Debug/Obj/stm32f10x_can.pbi.xcl
Debug/Obj/stm32f10x_cec.pbi
Debug/Obj/stm32f10x_cec.pbi.xcl
Debug/Obj/stm32f10x_crc.pbi
Debug/Obj/stm32f10x_crc.pbi.xcl
Debug/Obj/stm32f10x_dac.pbi
Debug/Obj/stm32f10x_dac.pbi.xcl
Debug/Obj/stm32f10x_dbgmcu.pbi
Debug/Obj/stm32f10x_dbgmcu.pbi.xcl
Debug/Obj/stm32f10x_dma.pbi
Debug/Obj/stm32f10x_dma.pbi.xcl
Debug/Obj/stm32f10x_exti.pbi
Debug/Obj/stm32f10x_exti.pbi.xcl
Debug/Obj/stm32f10x_flash.pbi
Debug/Obj/stm32f10x_flash.pbi.xcl
Debug/Obj/stm32f10x_fsmc.pbi
Debug/Obj/stm32f10x_fsmc.pbi.xcl
Debug/Obj/stm32f10x_gpio.pbi
Debug/Obj/stm32f10x_gpio.pbi.xcl
Debug/Obj/stm32f10x_i2c.pbi
Debug/Obj/stm32f10x_i2c.pbi.xcl
Debug/Obj/stm32f10x_it.pbi
Debug/Obj/stm32f10x_it.pbi.xcl
Debug/Obj/stm32f10x_iwdg.pbi
Debug/Obj/stm32f10x_iwdg.pbi.xcl
Debug/Obj/stm32f10x_pwr.pbi
Debug/Obj/stm32f10x_pwr.pbi.xcl
Debug/Obj/stm32f10x_rcc.pbi
Debug/Obj/stm32f10x_rcc.pbi.xcl
Debug/Obj/stm32f10x_rtc.pbi
Debug/Obj/stm32f10x_rtc.pbi.xcl
Debug/Obj/stm32f10x_sdio.pbi
Debug/Obj/stm32f10x_sdio.pbi.xcl
Debug/Obj/stm32f10x_spi.pbi
Debug/Obj/stm32f10x_spi.pbi.xcl
Debug/Obj/stm32f10x_tim.pbi
Debug/Obj/stm32f10x_tim.pbi.xcl
Debug/Obj/stm32f10x_usart.pbi
Debug/Obj/stm32f10x_usart.pbi.xcl
Debug/Obj/stm32f10x_wwdg.pbi
Debug/Obj/stm32f10x_wwdg.pbi.xcl
Debug/Obj/system_stm32f10x.pbi
Debug/Obj/system_stm32f10x.pbi.xcl
settings/Nixie.crun
settings/Nixie.dbgdt
settings/Nixie.Debug.cspy.bat
settings/Nixie.Debug.cspy.ps1
settings/Nixie.Debug.driver.xcl
settings/Nixie.Debug.general.xcl
settings/Nixie.dnx
settings/Nixie.wsdt
Start_up/stm32f10x.h
Start_up/system_stm32f10x.c
Start_up/system_stm32f10x.h
Start_up/iar/startup_stm32f10x_cl.s
Start_up/iar/startup_stm32f10x_hd_vl.s
Start_up/iar/startup_stm32f10x_hd.s
Start_up/iar/startup_stm32f10x_ld_vl.s
Start_up/iar/startup_stm32f10x_ld.s
Start_up/iar/startup_stm32f10x_md_vl.s
Start_up/iar/startup_stm32f10x_md.s
Start_up/iar/startup_stm32f10x_xl.s
Std_driver/inc/misc.h
Std_driver/inc/stm32f10x_adc.h
Std_driver/inc/stm32f10x_bkp.h
Std_driver/inc/stm32f10x_can.h
Std_driver/inc/stm32f10x_cec.h
Std_driver/inc/stm32f10x_crc.h
Std_driver/inc/stm32f10x_dac.h
Std_driver/inc/stm32f10x_dbgmcu.h
Std_driver/inc/stm32f10x_dma.h
Std_driver/inc/stm32f10x_exti.h
Std_driver/inc/stm32f10x_flash.h
Std_driver/inc/stm32f10x_fsmc.h
Std_driver/inc/stm32f10x_gpio.h
Std_driver/inc/stm32f10x_i2c.h
Std_driver/inc/stm32f10x_iwdg.h
Std_driver/inc/stm32f10x_pwr.h
Std_driver/inc/stm32f10x_rcc.h
Std_driver/inc/stm32f10x_rtc.h
Std_driver/inc/stm32f10x_sdio.h
Std_driver/inc/stm32f10x_spi.h
Std_driver/inc/stm32f10x_tim.h
Std_driver/inc/stm32f10x_usart.h
Std_driver/inc/stm32f10x_wwdg.h
Std_driver/src/misc.c
Std_driver/src/stm32f10x_adc.c
Std_driver/src/stm32f10x_bkp.c
Std_driver/src/stm32f10x_can.c
Std_driver/src/stm32f10x_cec.c
Std_driver/src/stm32f10x_crc.c
Std_driver/src/stm32f10x_dac.c
Std_driver/src/stm32f10x_dbgmcu.c
Std_driver/src/stm32f10x_dma.c
Std_driver/src/stm32f10x_exti.c
Std_driver/src/stm32f10x_flash.c
Std_driver/src/stm32f10x_fsmc.c
Std_driver/src/stm32f10x_gpio.c
Std_driver/src/stm32f10x_i2c.c
Std_driver/src/stm32f10x_iwdg.c
Std_driver/src/stm32f10x_pwr.c
Std_driver/src/stm32f10x_rcc.c
Std_driver/src/stm32f10x_rtc.c
Std_driver/src/stm32f10x_sdio.c
Std_driver/src/stm32f10x_spi.c
Std_driver/src/stm32f10x_tim.c
Std_driver/src/stm32f10x_usart.c
Std_driver/src/stm32f10x_wwdg.c
Nixie.dep
Nixie.ewd
Nixie.ewp
Nixie.ewt
Nixie.eww
Debug/Obj/Sth30.pbi.xcl
